@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


html {
    font-size: 62,5%;
    overflow-x: hidden;
}

:root {
    --white: #fff;
    --black: #000;
    --fonte-principal: 'Montserrat'
}

/* Seção inicio */
.inicio {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar img {
    width: 8%;
    height: 8%;
    margin: 1rem 3rem;
}

h1.titulo-pagina {
    font-size: 2rem;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    text-align:center;
    padding: 5rem 9rem;
    font-family: var(--fonte-principal);
}

.box {
    display: flex;
    justify-content: space-between;
    margin: 12rem 1rem 0 1rem;
}

.box p {
    margin-right: 2rem;
    font-weight: 700;
}

/* Seção conteudo */
.conteudo {
    background-color: var(--black);
}

.conteudo h2 {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}

.conteudo-texto {
    display: flex;
    align-items: center;
}

.conteudo-texto img {
    width: 50%;
    border-radius: 0.5rem;
    margin: 0 1rem 1rem 1rem;
}

.conteudo-texto p {
    font-family: var(--fonte-principal);
    font-size: 1.2rem;
    color:var(--white);
    text-align: center;
    margin: 0 2rem 0 2rem;
}

/* Seção escopo */
.escopo {
    background-color: var(--black);
}

h2.titulo {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1.8rem;
    padding: 2rem 1rem 0 1rem;
}

.accordion {
    padding: 4rem;
}

.accordion-item {
    font-family: var(--fonte-principal);
}

/* Seção contato */
.contato {
    background-color: #ff8c00;
}

h2.titulo-contato {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 2.2rem;
    padding: 2rem 1rem 0 1rem;
    text-align: center;
}

.contato p {
    font-family: var(--fonte-principal);
    font-size: 1.3rem;
    padding: 1rem 5rem;
    text-align: center;
}

h3.titulo-forms {
    text-align:center;
    padding: 2rem 9rem;
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 700;

}